<header>
    <nav class="navbar-default">
        <div class="container-fluid row">   
            <%= link_to 'Clone Book', root_path, id: "logo" %>
            <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'プロフィール', '#' %></li>
                    <li><%= link_to 'ユーザーリスト', users_path %></li>
                    <li><%= link_to '新規登録', new_user_path %></li>
            </ul>
        </div>
    </nav>
</header>